.login-container {
  margin: 50px;
  padding: 20px;
  border: 1px solid #ddd;
  width: 300px;
  background-color: var(--footer-bgc);
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  background-color:var(--tertiary-color);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
