/* *{
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #343541; 
    --secondary-color: #40414f; 
    --tertiary-color:#FF6F00; 
    --text-color: #d1d5db; 
    --hover-color: #3e3f4b;
    --border-color: #565869;
    --logo-font: 'Montez', cursive;
  }  */